{% extends 'kakeibo/base.html' %}

{% block content %}
    <h2>例月支出登録画面</h2>
    <!-- ページ移動部 -->
    <form action="/kakeibo/regist_regular_expense/" method="post">

        <!-- form内での固有記載 -->
        {% csrf_token %}

        <div class="pull-right">
            {{ YMForm.YYYYMM }}
            <input type="submit" name="change" value="移動">
            <input type="submit" name="back" value="前月">
            <input type="submit" name="next" value="次月">
        </div>
    </form>

    <!-- 支出データ一覧表示部 -->
    <form action="/kakeibo/regist_regular_expense/" method="post">

        <!-- form内での固有記載 -->
        {% csrf_token %}

        <!-- formset利用時の固有記載 -->
        {{ regular_data_list.management_form }}

        <table class="table">
            <tr>
                <th>分類</th>
                <th>金額</th>
            </tr>
            {% for form in regular_data_list %}
            <tr>
                <td>{{ form.form_name.value }}</td>
                <td>{{ form.money }}</td>
                {{ form.date }}
                {{ form.classify_code }}
                {{ form.person_code }}
            </tr>
            {% endfor %}
        </table>

        <div class="pull-right">
            <input type="submit" name="regist" value="登録">
            /
            <input type="submit" name="delete" value="削除">
        </div>

    </form>
{% endblock %}
