{% extends 'kakeibo/base.html' %}

{% block content %}
    <h4>例月支出登録画面</h4>
    <!-- ページ移動部 -->
    <form action="/kakeibo/regist_regular_expense/" method="post">

        <!-- form内での固有記載 -->
        {% csrf_token %}

        <div class="pull-right">
            {{ YMForm.yyyymm }}
            <input type="submit" name="change" value="移動">
            <input type="submit" name="back" value="前月">
            <input type="submit" name="next" value="次月">
        </div>
    </form>

    <!-- 支出データ一覧表示部 -->
    <form action="/kakeibo/regist_regular_expense/" method="post">

        <!-- form内での固有記載 -->
        {% csrf_token %}

        <!-- formset利用時の固有記載 -->
        {{ regular_data_list.management_form }}

        {% comment "ほんとは以下のコードが柔軟性があっていいけど、ユーザからの要望で表示形式を変える" %}
        <!--
        <table class="table">
            <tr>
                <th>分類</th>
                <th>金額</th>
            </tr>
            {% for form in regular_data_list %}
                <tr>
                    <td>{{ form.form_name.value }}</td>
                    <td>{{ form.money }}</td>
                    {{ form.row_id }}
                    {{ form.date }}
                    {{ form.classify_code }}
                    {{ form.person_code }}
                    {{ form.money_define }}
                    {{ form.money_disabled }}
                </tr>
            {% endfor %}
        </table>
        -->
        {% endcomment %}

        <!-- 収入テーブル -->
        <table class="table table-bordered table-sm">
            <caption>【収入】</caption>

            <!-- 収入（奨悟） -->
            <tr class="table-primary">
                <td><b>{{ regular_data_list.0.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.2.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.4.form_name.value }}</b></td>
            </tr>
            <tr>
                <td>
                    {% with regular_data=regular_data_list.0 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.2 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.4 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
            </tr>

            <!-- 収入（凪） -->
            <tr class="table-primary">
                <td><b>{{ regular_data_list.1.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.3.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.5.form_name.value }}</b></td>
            </tr>
            <tr>
                <td>
                    {% with regular_data=regular_data_list.1 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.3 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.5 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
            </tr>
        </table>

        <!-- 支出テーブル -->
        <table class="table table-bordered table-sm">
            <caption>【支出】</caption>

            <!-- 支出1 -->
            <tr class="table-primary">
                <td><b>{{ regular_data_list.6.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.7.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.8.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.9.form_name.value }}</b></td>
            </tr>
            <tr>
                <td>
                    {% with regular_data=regular_data_list.6 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.7 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.8 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.9 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
            </tr>

            <!-- 支出2 -->
            <tr class="table-primary">
                <td><b>{{ regular_data_list.10.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.11.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.12.form_name.value }}</b></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    {% with regular_data=regular_data_list.10 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.11 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.12 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>&nbsp;</td>
            </tr>

            <!-- 支出3 -->
            <tr class="table-primary">
                <td><b>{{ regular_data_list.13.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.14.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.18.form_name.value }}</b></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    {% with regular_data=regular_data_list.13 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.14 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.18 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>&nbsp;</td>
            </tr>

            <!-- 支出4 -->
            <tr class="table-primary">
                <td><b>{{ regular_data_list.15.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.16.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.17.form_name.value }}</b></td>
                <td><b>{{ regular_data_list.19.form_name.value }}</b></td>
            </tr>
            <tr>
                <td>
                    {% with regular_data=regular_data_list.15 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.16 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.17 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
                <td>
                    {% with regular_data=regular_data_list.19 %}
                    {{ regular_data.money }}
                    {{ regular_data.row_id }}
                    {{ regular_data.date }}
                    {{ regular_data.classify_code }}
                    {{ regular_data.person_code }}
                    {{ regular_data.money_define }}
                    {{ regular_data.money_disabled }}
                    {% endwith %}
                </td>
            </tr>
        </table>

        <div class="pull-right">
            <input type="submit" name="regist" value="登録" onclick="return equalsInputAndDefine()">
            /
            <input type="submit" name="delete" value="削除">
        </div>

    </form>

<script>
    function equalsInputAndDefine(){
        var errorFlag = false;
        var errorList = [];

        var input;
        {% for form in regular_data_list %}
            input = document.getElementById("{{ form.money.auto_id }}").value;
            define = {{ form.money_define.value }}
            if(define != 0 && input != define){
                errorFlag = true;
                errorList.push({"name": "{{ form.form_name.value }}",
                                "input": input,
                                "define": define
                                });
            }
        {% endfor %}

        var errorHash;
        var checked = true;
        if(errorFlag){
            var message = "以下の値が設定値と異なりますが問題ありませんか？\n\n"
            for (var i=0; i < errorList.length; i++){
                errorHash = errorList[i]
                message += "・"
                message += errorHash["name"] + " → ";
                message += "定義値:" + errorHash["define"] + ", ";
                message += "入力値:" + errorHash["input"] + "\n";
            }

            checked = confirm(message);
        }
            return checked;
    }
</script>

{% endblock %}
