{% extends 'kakeibo/base.html' %}

{% block content %}
    <h4>日別支出登録画面</h4>
    <!-- 収支プルダウン制御部 -->
    <form action="{% url 'Kakeibo:view_list' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="form_name" value="search">

        <div class="float-right">
            <!--<b>{{ inout_radio_form.check.label }}</b> :-->
            <!--{% for check in inout_radio_form.check %}-->
            <!--{{ check }}-->
            <!--{% endfor %}-->

            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modal1" name="condition">
                表示条件
            </button>

            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="label1">表示条件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="date" class="col-form-label"><b>期間:</b></label>
                      <table border="0">
                        <tr class="datetimepicker">
                          <td>{{ view_search_from.date_start }}</td>
                          <td>～</td>
                          <td>{{ view_search_from.date_end }}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="form-group">
                      <label for="check" class="col-form-label"><b>{{ view_search_from.check.label }}:</b></label>
                      <div>
                        {% for check in view_search_from.check %}
                        {{ check }}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-form-label"><b>{{ view_search_from.name.label }}:</b></label>
                      <div>{{ view_search_from.name }}</div>
                    </div>
                    <div class="form-group">
                      <label for="money" class="col-form-label"><b>金額:</b></label>
                      <table border="0">
                        <tr>
                          <td>{{ view_search_from.money_min }}</td>
                          <td>～</td>
                          <td>{{ view_search_from.money_max }}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="form-group">
                      <label for="row_count" class="col-form-label"><b>{{ view_search_from.row_count.label }}:</b></label>
                      <div>{{ view_search_from.row_count }}</div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input type="submit" name="search" value="決定">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </form>

    <!-- 支出データ入力部 -->
    <form action="{% url 'Kakeibo:view_list' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="form_name" value="submit_data">
        <!-- {{ form.as_table }} -->
        <!--
        {% for field in form %}
            <div class="row">
                <div class="col-md-6">{{ field.label_tag }}</div>
                <div class="col-md-6">{{ field }}</div>
            </div>
        {% endfor %}
        -->
        <table class="table">
            <tr class="datetimepicker">
                <td>
                    {{ detail_form.date.label }}:<br/>
                    {{ detail_form.date }}
                </td>
                <td>
                    {{ detail_form.classify_person.label }}:<br/>
                    {{ detail_form.classify_person }}
                </td>
                <td>
                    {{ detail_form.name.label }}:<br/>
                    {{ detail_form.name }}
                </td>
                <td>
                    {{ detail_form.money.label }}:<br/>
                    {{ detail_form.money }}
                </td>
                <td>
                    <label title="税込計算する場合はチェック！">
                        税<br/>
                        <!--<input type="checkbox" name="tax" value="1">-->
                        {{ detail_form.is_tax }}
                    </label>
                </td>
                <td>
                    <input type="submit" name="add" value="登録">
                </td>
            </tr>
        </table>
    {{ detail_form.row_id }}
    </form>


    <!-- 支出データ一覧表示部 -->
    <table class="table">
        <tr>
            <th>日付</th>
            <th>分類</th>
            <th>項目名</th>
            <th>金額</th>
            <th>操作</th>
        </tr>
        {% for detail in details %}
        <tr>
            <td>{{ detail.対象年月日 }}</td>
            <td>{{ detail.収入支出分類コード.収入支出分類名 }}</td>
            <td>{{ detail.項目名 }}</td>
            <td>{{ detail.金額 }}</td>
            <td>
                <form action="{% url 'Kakeibo:view_list' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="delete_data">

                    <input type="submit" name="edit" value="編集">
                    /
                    <input type="submit" name="delete" value="削除">
                    <input type="hidden" name="id" value="{{ detail.id }}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
